* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    text-align: center;
    line-height: 1.6;
    background-color: white;
    color: black;
}

header {
    background: white;
    color: black;
    padding: 15px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

header nav .logo h1 {
    font-size: 24px;
}

header nav .nav-links {
    list-style: none;
    display: flex;
    color: black;
    margin-left: auto;
}

header nav .nav-links li {
    margin-left: 20px;
    color: black;
}

header nav .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

#shop .products {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350  px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.product-card p {
    margin: 10px 0;
    font-size: 18px;
}

.product-card button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}
.hero {
    color: white;
    background-color: black;
}
